@import url(styles/header.css);
@import url(styles/main.css);
@import url(styles/footer.css);
@import url(styles/containers.css);

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a, label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p, input, span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}