main{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}
main a{
    color: gray;
}
main span{
    width: 15em;
    text-align: left;
}